{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Highcharts Visualization</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/form-elements.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
		<style>
		body{
			background-image: url('{% static "img/backgrounds/1.jpg" %}');
		}
		</style>
    </head>
    <body>
		
        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
				<div class="row">
				<div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-offset-1 text">
                            <h1><strong>Highcharts</strong> Visualization</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Django And Highcharts</h3>
                            		<p>Select the chart template and chart type to create a new chart.</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-bar-chart"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="get">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Select Chart Template</label>
			                        	<select class="form-control" id="chart-template">
                                            <option>Movies Per Genere</option>
											<option>Movies Count Per Actor</option>
											<option>Movies Count Per Actress</option>
											<option>Movies Count Per Director</option>
                                            <option>Movies Count By IMDB Rating</option>
                                            <option>Movies Count By Release Year</option>
											<option>Movies Count By Running Time</option>
										 </select>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<select class="form-control" id="chart-type">
											<option value="line">Line</option>
											<option value="bar">Bar</option>
											<option value="column">Column</option>
											<option value="areaspline">Area Spline</option>
										 </select>
			                        </div>
			                        <button id="generate-chart" type="button" class="btn btn-primary">Create Chart!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-offset-0 text">
                            <h1><strong>Django and Highcharts Visualization</strong> </h1>
                        </div>
                     </div>
                    <div class="row">
                        <div id="chart-container" class="col-xs-12" style="height:440px; opacity:1; background-color:white;" >
                        </br></br></br></br></br></br>
                            <h1 class="bg-primary">Your Charts will appear here</h1>
                        </div>
                    </div>
			
				</div>
				</div>
				</div>
            </div>
        </div>
        <!-- Javascript -->
        <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/jquery.backstretch.min.js" %}"></script>
        <script src="{% static "js/scripts.js" %}"></script>
		<script src="{% static "js/highcharts.js" %}"></script>
		<script src="{% static "js/visual.js" %}"></script>
    </body>

</html>
